/* Compact laptop geometry */

* {
    font-size: 13px;
}

#custom-center-hud {
    min-width: 245px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-launcher,
#custom-gpu,
#idle_inhibitor,
#custom-notification,
#pulseaudio,
#network,
#battery,
#backlight,
#clock {
    padding-left: 9px;
    padding-right: 9px;
}

#cpu,
#memory,
#tray {
    padding-left: 7px;
    padding-right: 7px;
}
